body{
    font-family: "Roboto";
    margin:0;
    
}

.top{
    background-color: #1F2937;
    height: 100%;
    width: 100%;
    padding-top: 10px;
}
.title-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    padding:0;
    margin:0;
}

.header{
    font-size: 24px;
    color: #F9FAF8;
    display:inline-block;
    
}
.summary, .header-links{
    font-size: 18px;
    color: #E5E7EB;
}
button{
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 900;
    padding: 5px 20px;
    border-radius: 5px;
    border:0;
}
.header-top{
    display:flex;
    align-items: center;
    margin:10px;
    justify-content: space-around;
}

li{
    display: inline-flex;
    gap:20px;
    list-style-type: none;
    margin-left: 20px;
}
.hero-img{
    width:500px;
    height:250px;
}
.hero{
    display:flex;
    justify-content: center;
    margin:100px;
    margin-left: 400px;
    margin-right: 400px;
    padding-bottom: 100px;
}

.hero-text{
    align-self: center;
    margin-right: 100px;
}

.second-header{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}
.image img{
    width: 200px;
    height:200px;
    border-radius: 15%;
    border: 4px solid #3882F6;

}
.image p{
    width: 150px;
    height:150px;
    font-size: 18px;
    color: #262f3b;
    text-align: center;
    margin-left: 30px;
}
.images{
    display: inline-flex;
    margin: 30px auto;
    width:100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    
}
.quote{
    background: #E5E7EB;
    padding:70px 0;
    display:flex;
    align-items: center;
    flex-direction: column;
}
.quote-txt{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-align: center;
}
.author{
    font-size: 18px;
    color: #1F2937;
    font-weight: 900;
    position:relative;
    left:220px;
    margin-top: -20px;
}

.signup{
    
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.signup-box{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    margin: 100px auto;
    border-radius: 10px;
    width:800px;
    height: 100px;
    padding: 25px 75px;
}
.signup-txt p{
    margin:0;
}
.signup-button{
    border: 3px solid #F9FAF8;
    height: 35px;
}

footer{
    color:#F9FAF8;
    background-color: #1F2937;
    text-align: center;
    padding: 15px 0;
}